body{
    text-align: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/208/881/231/rainbow-color-gradation-blur-wallpaper-preview.jpg");
}
h3{
    font-size: 50px;
}
h2{
    font-size: 50px;
}
button{
    font-size: 20px;
}